In [94]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import math

dataset = pd.read_csv('CSIRO_Recons_gmsl_yr_2019.csv', header=0)
dataset.head()

dataset["Time"] = [math.floor(x) for x in dataset["Time"]]
dataset

     Time  GMSL (mm)  GMSL uncertainty (mm)
0    1880      -30.3                   24.2
1    1881      -24.7                   24.2
2    1882      -41.5                   23.0
3    1883      -36.2                   22.8
4    1884      -15.3                   22.2
..    ...        ...                    ...
135  2015      207.8                    7.1
136  2016      208.1                    7.2
137  2017      215.1                    7.5
138  2018      216.6                    7.9
139  2019      227.3                   11.4

[140 rows x 3 columns]

In [95]:
import pandas as pd

slid_window = pd.DataFrame({
    "t_2": dataset.head(21)["GMSL (mm)"].shift(2), 
    "t_1": dataset.head(21)["GMSL (mm)"].shift(), 
    "GMSL data": dataset.head(21)["GMSL (mm)"]
})

slid_window

     t_2   t_1  GMSL data
0    NaN   NaN      -30.3
1    NaN -30.3      -24.7
2  -30.3 -24.7      -41.5
3  -24.7 -41.5      -36.2
4  -41.5 -36.2      -15.3
5  -36.2 -15.3      -16.8
6  -15.3 -16.8      -19.2
7  -16.8 -19.2      -24.8
8  -19.2 -24.8      -22.7
9  -24.8 -22.7      -21.1
10 -22.7 -21.1      -19.1
11 -21.1 -19.1      -20.8
12 -19.1 -20.8      -17.6
13 -20.8 -17.6      -12.9
14 -17.6 -12.9      -22.6
15 -12.9 -22.6      -10.8
16 -22.6 -10.8      -18.4
17 -10.8 -18.4      -13.2
18 -18.4 -13.2       -3.8
19 -13.2  -3.8        3.7
20  -3.8   3.7       -1.7

In [96]:
! pip install tsextract

Requirement already satisfied: tsextract in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (0.0.9)
Requirement already satisfied: scipy>=1.4.0 in c:\users\nathan\appdata\roaming\python\python39\site-packages (from tsextract) (1.5.4)
Requirement already satisfied: statsmodels>=0.10.2 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from tsextract) (0.12.2)
Requirement already satisfied: numpy>=1.16.4 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from tsextract) (1.19.3)
Requirement already satisfied: matplotlib>=3.2.1 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from tsextract) (3.5.2)
Requirement already satisfied: pandas>=1.0.3 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from tsextract) (1.4.2)
Requirement already satisfied: plotnine>=0.0.6 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from tsextract) (0.8.0)
Requirement already satisfied: cycler>=0.10 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.2.1->tsextract) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.2.1->tsextract) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.2.1->tsextract) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.2.1->tsextract) (8.1.0)
Requirement already satisfied: packaging>=20.0 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.2.1->tsextract) (20.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.2.1->tsextract) (4.33.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.2.1->tsextract) (2.4.7)
Requirement already satisfied: pytz>=2020.1 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.0.3->tsextract) (2020.4)
Requirement already satisfied: mizani>=0.7.3 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from plotnine>=0.0.6->tsextract) (0.7.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from plotnine>=0.0.6->tsextract) (0.5.1)
Requirement already satisfied: descartes>=1.1.0 in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from plotnine>=0.0.6->tsextract) (1.1.0)
Requirement already satisfied: six in c:\users\nathan\appdata\roaming\python\python39\site-packages (from cycler>=0.10->matplotlib>=3.2.1->tsextract) (1.15.0)
Requirement already satisfied: palettable in c:\users\nathan\appdata\local\programs\python\python39\lib\site-packages (from mizani>=0.7.3->plotnine>=0.0.6->tsextract) (3.3.0)

In [97]:
from tsextract.feature_extraction.extract import build_features

features_request = {
    "window":[10]
}

features = build_features(dataset["GMSL (mm)"], features_request, include_tzero=False)
features

,T-10,T-9,T-8,T-7,T-6,T-5,T-4,T-3,T-2,T-1,Target_Tplus3
Date,,,,,,,,,,,
10,-30.3,-24.7,-41.5,-36.2,-15.3,-16.8,-19.2,-24.8,-22.7,-21.1,-12.9
11,-24.7,-41.5,-36.2,-15.3,-16.8,-19.2,-24.8,-22.7,-21.1,-19.1,-22.6
12,-41.5,-36.2,-15.3,-16.8,-19.2,-24.8,-22.7,-21.1,-19.1,-20.8,-10.8
13,-36.2,-15.3,-16.8,-19.2,-24.8,-22.7,-21.1,-19.1,-20.8,-17.6,-18.4
14,-15.3,-16.8,-19.2,-24.8,-22.7,-21.1,-19.1,-20.8,-17.6,-12.9,-13.2
...,...,...,...,...,...,...,...,...,...,...,...
132,159.6,168.1,166.8,167.2,171.3,172.7,181.1,187.5,194.2,195.4,207.8
133,168.1,166.8,167.2,171.3,172.7,181.1,187.5,194.2,195.4,202.4,208.1
134,166.8,167.2,171.3,172.7,181.1,187.5,194.2,195.4,202.4,200.2,215.1
135,167.2,171.3,172.7,181.1,187.5,194.2,195.4,202.4,200.2,210.9,216.6
136,171.3,172.7,181.1,187.5,194.2,195.4,202.4,200.2,210.9,207.8,227.3

In [98]:
from tsextract.feature_extraction.extract import build_features
from tsextract.domain.statistics import median, mean, skew, kurtosis
from tsextract.domain.temporal import abs_energy

features_request = {
    "window":[2], 
    "window_statistic":[24, median], 
    "difference":[12, 10],
    "difference_statistic":[15, 10, abs_energy], 
}

features_request

{'window': [2],
 'window_statistic': [24, <function tsextract.domain.statistics.median(data)>],
 'difference': [12, 10],
 'difference_statistic': [15,
  10,
  <function tsextract.domain.temporal.abs_energy(data)>]}

In [99]:
features_1 = build_features(dataset["GMSL (mm)"], features_request, include_tzero=False)
features_1

,T-2,T-1,window_statistic_24_median,difference_12_10-2,difference_12_10-1,difference_statistic_15_10_abs_energy,Target_Tplus3
Date,,,,,,,
24,2.5,10.5,-18.00,23.4,22.8,2123.86,0.1
25,10.5,0.2,-17.20,22.8,5.5,1851.35,-2.4
26,0.2,-5.3,-16.05,5.5,19.9,1897.67,2.1
27,-5.3,1.5,-14.25,19.9,13.3,1670.55,2.0
28,1.5,0.1,-13.05,13.3,1.4,1124.95,10.3
...,...,...,...,...,...,...,...
132,194.2,195.4,150.15,38.7,42.8,8645.43,207.8
133,195.4,202.4,153.95,42.8,32.1,7800.95,208.1
134,202.4,200.2,158.15,32.1,44.1,8153.75,215.1
135,200.2,210.9,163.20,44.1,40.6,7953.11,216.6
136,210.9,207.8,167.00,40.6,36.8,7809.66,227.3

In [100]:
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import GradientBoostingRegressor

scaler_features = StandardScaler().fit(features_1[features_1.columns.values[:-1]])
scaled_features = scaler_features.transform(features_1[features_1.columns.values[:-1]])

scaler_label = StandardScaler().fit(np.array(features_1[features_1.columns.values[-1]]).reshape(-1, 1))
scaled_label = scaler_label.transform(np.array(features_1[features_1.columns.values[-1]]).reshape(-1, 1))


### Split data using train proportion of 0.7
train_size = int(scaled_features[:, :-1].shape[0] * 0.7)

X_train, y_train = scaled_features[:train_size, :-1], scaled_label[:train_size, :]
X_test, y_test = scaled_features[train_size:, :-1], scaled_label[train_size:, :]

X_test

array([[ 0.78010404,  0.63927754,  0.60584761, -0.18345867,  1.09800092],
       [ 0.67945437,  0.78310022,  0.66834657,  1.12184936, -0.04859393],
       [ 0.82522286,  0.76769065,  0.75721229, -0.03842444, -0.82792012],
       [ 0.8096048 ,  0.59133665,  0.83142981, -0.82704805, -0.68459577],
       [ 0.63086488,  0.6016097 ,  0.86170274, -0.68201382, -0.478567  ],
       [ 0.64127691,  0.61188275,  0.87830403, -0.47352712, -0.63084913],
       [ 0.65168895,  0.69235496,  0.89002259, -0.62762599,  0.21118146],
       [ 0.73324988,  0.76940282,  0.91541279,  0.22445009, -0.20087606],
       [ 0.81134014,  0.79337327,  0.951545  , -0.19252331, -1.03394889],
       [ 0.83563489,  0.84645068,  0.98279449, -1.03553475, -0.26358047],
       [ 0.8894304 ,  0.89439157,  1.03064525, -0.25597578, -1.41913309],
       [ 0.9380199 ,  0.81734371,  1.07361329, -1.42531423, -1.03394889],
       [ 0.85992964,  0.87555765,  1.08533185, -1.03553475,  0.30075919],
       [ 0.91893117,  0.95431769,  1.10681587,  0.31509648,  0.71281671],
       [ 0.99875677,  1.04335077,  1.15271354,  0.73206988,  1.28611414],
       [ 1.0889944 ,  1.163203  ,  1.20935323,  1.31220679, -0.14712943],
       [ 1.21046814,  0.96972726,  1.25232127, -0.13813547,  0.3276325 ],
       [ 1.01437482,  1.13752038,  1.2698991 ,  0.3422904 ,  0.52470349],
       [ 1.18443805,  1.19915867,  1.27868802,  0.54171246,  0.73969003],
       [ 1.24691026,  1.29332828,  1.29235967,  0.7592638 ,  0.7486478 ],
       [ 1.34235391,  1.34298134,  1.31189059,  0.76832844,  1.9131582 ],
       [ 1.39267875,  1.48851619,  1.34216353,  1.94673152,  1.4921429 ],
       [ 1.54018257,  1.46625792,  1.3753661 ,  1.52069349,  1.11591647],
       [ 1.51762317,  1.47310662,  1.4027094 ,  1.13997864,  1.01738097],
       [ 1.52456452,  1.54330578,  1.44763053,  1.04026761,  0.51574572],
       [ 1.59571343,  1.56727623,  1.49059857,  0.53264782,  2.28042686],
       [ 1.62000817,  1.7110989 ,  1.54137898,  2.31838173,  1.97586261],
       [ 1.76577666,  1.82067808,  1.63708052,  2.010184  ,  2.25355355],
       [ 1.87683836,  1.93539379,  1.70543876,  2.29118781,  1.86836934],
       [ 1.99310608,  1.95593988,  1.74059443,  1.90140833,  2.235638  ],
       [ 2.01393015,  2.07579211,  1.81481195,  2.27305853,  1.27715637],
       [ 2.13540389,  2.03812427,  1.89684184,  1.30314215,  2.35208904],
       [ 2.09722643,  2.22132696,  1.99547302,  2.39089884,  2.03856701],
       [ 2.28290772,  2.16824955,  2.06969054,  2.07363647,  1.69817166]])

In [101]:
from keras.models import Sequential
from keras.layers import Dense, Dropout


model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(64, kernel_initializer='normal', activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(1, kernel_initializer='normal'))

# Compile model
model.compile(loss='mean_squared_error', optimizer='adam')

history = model.fit(x=X_train, y=y_train, batch_size=32, epochs=100, verbose=1)

ModuleNotFoundError: No module named 'tensorflow'